.product-listing {
    padding: 2rem;
}
.product-listing h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.search-bar {
    display: block;
    margin: 0 auto 2rem;
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.product-card {
    background-color: white;
    border: 1px #e1e1e1;
    padding: 1rem;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
}
.product-card h3 {
    margin: 1rem 0;
}
.product-card p {
    font-size: 1rem;
    color: #555;
}
.view-details-btn {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}